*{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: url('spiritualite.jpg');
}

h1{
    margin-top: 80px;
    font-size: 4em;
}

.form_connexion{
    width: 30%; height: 70vh;
    margin: 100px auto;
    border: 5px solid lightskyblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, 0.2);
    background:rgba(136, 68, 110, 0.1);
}

.form_connexion input{
    background:transparent;
    border: 10px solid red;

}
.title_form{
    font-size: 2em;
    text-transform: capitalize;
}

.table_connexion{
    text-align: center;
    margin: 40px auto;
}